@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #478ac9;
    --text-color: #4d4d4d;
}


body {
    /* font-size: 1.6rem; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.nav .nav-item .dropdown .nav-icon{
    color: #d1d3e2;
}
.nav .nav-item .dropdown .dropdown-toggle:hover .nav-icon {
    color: #a4a4a8;
}

.navbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 3rem);
    margin: auto .5rem;
}

a:hover {
    color: var(--primary-color)
}

a:hover p {
    color: var(--primary-color)
}

.background-content {
    background-color: rgb(244 244 244 / 1);
}

.text-color-primary {
    color: #478ac9;
}

.background-primary {
    background-color: #478ac9;
}

.text-color {
    color: var(--text-color);
}

/* font open sans */
.font-opensans {
    font-family: "Open Sans", sans-serif;
    color: #111111;
}

.border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
}

.border-bottom-primary {
    border-bottom: 0.25rem solid #4e73df !important;
}

.border-left-secondary {
    border-left: 0.25rem solid #858796 !important;
}

.border-bottom-secondary {
    border-bottom: 0.25rem solid #858796 !important;
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a !important;
}

.border-bottom-success {
    border-bottom: 0.25rem solid #1cc88a !important;
}

.border-left-info {
    border-left: 0.25rem solid #36b9cc !important;
}

.border-bottom-info {
    border-bottom: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e !important;
}

.border-bottom-warning {
    border-bottom: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
    border-left: 0.25rem solid #e74a3b !important;
}

.border-bottom-danger {
    border-bottom: 0.25rem solid #e74a3b !important;
}

.border-left-light {
    border-left: 0.25rem solid #f8f9fc !important;
}

.border-bottom-light {
    border-bottom: 0.25rem solid #f8f9fc !important;
}

.border-left-dark {
    border-left: 0.25rem solid #5a5c69 !important;
}

.border-bottom-dark {
    border-bottom: 0.25rem solid #5a5c69 !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
}

.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* Header */
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #478ac9;

}

/* footer */
footer {
    background-color: #478ac9;
}

.footer-box {
    background: #ffffff;
}

footer p {
    color: var(--text-color);
}

/* filter - block */
.search-block {
    background-position: 50% 50%;
    background-image: url(/templates/front/images/1525.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

.search-box {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 40vw !important;
}

.district-item a:hover p {
    color: #d1d4d4;
}

.search-box h1,
h4 {
    color: var(--text-color);
}

.box-filter {
    display: flex;
}

.box-filter .dropdown input {
    width: 150px;
}

/* list district block */
.districts {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
}

.district-item {
    border-radius: 4px;
    position: relative;
    height: 0;
    padding-top: 75%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.district-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 4px;
    transform: rotate(-180deg);
}

.thainguyen-bg {
    background-image: url(/templates/front/images/tpthainguyen.jpg);

}

.songcong-bg {
    background-image: url(/templates/front/images/songcong.jpg);

}

.phoyen-bg {
    background-image: url(/templates/front/images/phoyen.jpg);
}

.daitu-bg {
    background-image: url(/templates/front/images/daitu.jpg);
}

.phubinh-bg {
    background-image: url(/templates/front/images/phubinh.jpg);
}

.district-item .item-title {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 4;
}

.districts a {
    color: var(--text-color);
}

.district-item img {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.item-title p {
    margin: 0;
}

.district-item:first-child {
    grid-row: span 2 / span 2;
    grid-column: span 2 / span 2;
}

.districts-block {
    position: relative;
}

.districts-block .block-top {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: #478ac9;
}

/* popular posts  */
.popular-posts-block h4 {
    color: var(--text-color);
}

/* features-block */
.features-block {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

/* new-posts-block */
.new-posts-block .new-posts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

/* List post page */

.form-select option {
    border: 1px solid black;
}

.custom-span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.custom-span:after,
.custom-span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

.images-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cicle-border {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.posts-same-author .card {
    max-width: 1189px;
}

.popular-posts-carousel p {
    font-size: 11px;
}

.images-carousel-cell {
    width: 100%;
    height: 500px;
}

/* login page */
.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img,
.login-wrap {
    width: 50%;
}

.social-media {
    position: relative;
    width: 100%;
}

.social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
}

.social-media .social-icon span {
    color: #999999;
}

.social-media .social-icon:hover,
.social-media .social-icon:focus {
    background: #478ac9;
}

.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
    color: #fff;
}

.user-block {
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    background-color: #478ac9;
}

.dropdown-toggle::after {
    display: none;
}

.create-post-block {
    min-width: 50%;
}

.preview-img img {
    width: 120px;
    height: 150px;
    object-fit: cover;
}

.post-box-item {
    height: 400px;
}

.post-box-item .img-post {
    height: 60%;
}

.img-post .btn {
    transition: .5s ease;
    opacity: 0;
}

.img-post img {
    transition: .5s ease;
}

.img-post:hover img {
    opacity: 0.5;
}

.img-post:hover .btn {
    opacity: 1;
}

.details-post p {
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-overflow-hide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-item img {
    max-width: 100% !important;
    max-height: 180px !important;
}

.white-space-pre {
    white-space: pre-line;
}

.popular-posts-cell {
    width: 280px !important;
    height: 380px;
}

.popular-posts-cell .img-post {
    height: 60%;
}

.custom-select {
    color: white;
    /* outline: none; */
    cursor: pointer;
}

.custom-select:hover {
    color: var(--text-color);
    outline: none;
}

.custom-select option {
    color: var(--text-color);
}

.filter-post {
    cursor: pointer;
    color: white;
}

.filter-post:hover {
    color: var(--text-color);
}

.custom-dropdown {
    /* top: 15.5%; */
    display: none;
    position: absolute;
}
.btn-remove-img{
    position: absolute;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 78, 78);
    cursor: pointer;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.btn-remove-img i{
    margin-top: 1px;
    margin-left: 1px;
}
.btn-remove-img:hover{
    background-color: rgb(218, 4, 4);
}
.filter-post .form-control {
    max-width: 150px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.show {
    display: block;
}

#orderby-btn:hover {
    color: #478ac9;
}

.feedback-box {
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.modal.show .modal-dialog {
    transform: none;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    /* transform: translate(0, -50px); */
}

.feedback-box:hover {
    color: #5a5c69;
}
 
.modal-dialog-bottom-right {
    position: absolute;
    width: 400px;
    right: 20px;
    bottom: 20px;
    margin: 0;
}

.modal.right .modal-dialog {
    animation: slideInRight 0.4s forwards;
}

.hover-text:hover p {
    color: #478ac9;
}

.dropdown-item:hover {
    background-color: #478ac9;
    color: white
}

.table td {
    vertical-align: middle;
}

@media (max-width: 991.98px) {

    .img,
    .login-wrap {
        width: 100%;
    }

    .search-box {
        width: 90vw !important;
    }
}

@media (max-width: 767.98px) {
    .wrap .img {
        height: 250px;
    }

    .search-box {
        width: 90vw !important;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}