@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #478ac9;
    --text-color: #4d4d4d;
}

body {
    /* font-size: 1.6rem; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    color: var(--primary-color)
}

.content {
    background-color: rgb(244 244 244 / 1);
}

.text-color-primary {
    color: #478ac9;
}

.background-primary {
    background-color: #478ac9;
}

.text-color {
    color: var(--text-color);
}

/* font open sans */
.font-opensans {
    font-family: "Open Sans", sans-serif;
    color: #111111;
}

.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* Header */
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #478ac9;

}



/* footer */
footer {
    background-color: #478ac9;
}

.footer-box {
    background: #ffffff;
}

footer p {
    color: var(--text-color);
}

/* filter - block */
.search-block {
    height: 70vh;
    width: 100%;
    background-position: 50% 50%;
    background-image: url(/templates/front/images/1525.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 50vw !important;
}

.search-filer-input {
    width: 24% !important;
    height: 37px !important;
}

.background-primary .search-filer-input {
    width: 20% !important;
    height: 37px !important;
}

.search-box h1,
h4 {
    color: var(--text-color);
}

.box-filter {
    display: flex;
}

.box-filter .dropdown input {
    width: 150px;
}

/* list district block */
.districts {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
}

.district-item {
    border-radius: 3%;
    position: relative;
    height: 0;
    padding-top: 75%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.district-item .item-title {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
}

.districts a {
    color: var(--text-color);
}

.district-item img {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.item-title p {
    margin: 0;
}

.district-item:first-child {
    grid-row: span 2 / span 2;
    grid-column: span 2 / span 2;
}

.districts-block {
    position: relative;
}

.districts-block .block-top {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: #478ac9;
}

/* popular posts  */
.popular-posts-block h4 {
    color: var(--text-color);
}

/* features-block */
.features-block {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

/* new-posts-block */
.new-posts-block .new-posts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

/* List post page */
/* .search-bar {
    background-color: #3d3d3d;
} */

.form-select option {
    border: 1px solid black;
}

.custom-input {
    background: none;
    border: none;
    outline: none;
    color: white;
}

.post-list span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.post-list span:after,
.post-list span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

.images-carousel img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-carousel div {
    max-height: 400px;
}

.cicle-border {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.posts-same-author .card {
    max-width: 1189px;
}

.popular-posts-carousel p {
    font-size: 11px;
}

/* login page */
.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img,
.login-wrap {
    width: 50%;
}

.social-media {
    position: relative;
    width: 100%;
}

.social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
}

.social-media .social-icon span {
    color: #999999;
}

.social-media .social-icon:hover,
.social-media .social-icon:focus {
    background: #478ac9;
}

.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
    color: #fff;
}

.user-block {
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    background-color: #478ac9;
}

.dropdown-toggle::after {
    display: none;
}

.create-post-block {
    min-width: 50%;
}

.preview-img img {
    width: 120px;
    height: 150px;
    object-fit: cover;
}
/* .object-fill-cover{
    object-fit: scale-down;
} */

@media (max-width: 991.98px) {

    .img,
    .login-wrap {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .wrap .img {
        height: 250px;
    }
}