* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #478ac9;
    --text-color: #4d4d4d;
}
.text-color-primary {
    color: #478ac9;
}

.background-primary {
    background-color: #478ac9;
}

.text-color {
    color: var(--text-color);
}
table.dataTable th.dt-type-numeric,table.dataTable th.dt-type-date,table.dataTable td.dt-type-numeric,table.dataTable td.dt-type-date {
    text-align:left;
}